@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    background-color: aliceblue;
}

h1 {
    font-family: 'Poppins', sans-serif;
    display: flex;

}

p {
    font-family: "Gravitas One", serif;
}
.Cabecera{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navegacion > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    

}
.Cabecera {
    background-color: aqua;
        overflow: hidden;
}

.navegacion li {
    margin: 10px;
}

.navegacion > ul > li > a:hover{
color: antiquewhite;
}

.navegacion > ul > li > a:active{
    color: blue;
}
img {
    background-size: cover;
    background-position: center;
}
img:hover {
    transform: scale(1.1);     
    filter: brightness(0.5) sepia(1) hue-rotate(180deg);
}

.clase > h2 > div > img {
    border-radius: 100px;
}
