* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;

}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navegacion>ul {
    list-style: none;
    display: flex;
    flex-direction: row;


}

.Cabecera {
    background-color: rgb(163, 240, 240);
    overflow: hidden;
}

.navegacion li {
    margin: 10px;
}

.navegacion a {
    font-weight: bold;
    color: blueviolet;
    text-decoration: none;
}

.navegacion a:hover {
    color: antiquewhite;
}

.navegacion a:active {
    color: blue;
}

img {
    background-size: cover;
    background-position: center;
}

img:hover {
    transform: scale(1.1);
    filter: brightness(0.5) sepia(1) hue-rotate(180deg);
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.boton {
    background-color: #4CAF50; 
    color: white;               
    transform: scale(1);
    transition: 0.2s;           
}

.boton:hover {
    transform: scale(1.1);      
    background-color: #45a049; 
}


.pelicula {
    display: flex;
    flex-direction: row;
}

.pelicula img {
    border-radius: 10px;

}

.pelicula h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.personajes {
    display: flex;
    flex-direction: row;
}

.personajes img:hover {
    color: antiquewhite;
}
.personajes h3:hover {
    color: rgb(255, 93, 255);
}

#Personaje1 {
    background-color: rgb(255, 209, 2);
    color: rgb(255, 159, 14);
    margin: 10px;
    font-size: 20px;
}

#Personaje2 {
    background-color: rgb(140, 240, 153);
    color: rgb(255, 255, 255);
    margin: 10px;
    font-size: 20px;
}

#Personaje3 {
    background-color: rgb(230, 186, 255);
    color: blueviolet;
    margin: 10px;
    font-size: 20px;
}

#Personaje4 {
    background-color: rgb(0, 255, 213);
    color: rgb(255, 255, 255);
    margin: 10px;
    font-size: 20px;
}

.eventos {

    background-color: rgb(191, 252, 191);
    border: 10px;
    border-color: rgb(0, 255, 0);
}

#evento3 {
    background-color: rgb(171, 252, 241);
    border: 10px;
    border-color: rgb(0, 81, 255);
}

.pieDePag {
    display: flex;
    justify-content: space-around;
    background-color: rgb(63, 153, 255);
}

li {
    list-style: none;
    text-decoration: none;
}
.navegacionDePie a {
    color: rgb(255, 255, 255);
    font-weight: bold;
    
}

.navegacionDePie .Facebook:hover {
    color: rgb(2, 255, 200);
}

.navegacionDePie .Instagram:hover {
    color: rgb(0, 47, 255);
}

.navegacionDePie .Twitter:hover {
    color: rgb(225, 0, 255);
}