* {
    color: rgb(221, 184, 255);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
}
/* REVISAR */
header{
    display: flex;
    justify-content: space-around;
    background-color: rgb(141, 58, 158);
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}

ul a:hover {
    color: rgb(255, 0, 255);
}
.perfil {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 20px;
}
.perfil img{
    border-radius: 50%;
    display: flex;
}
.perfil p {
    background-color: rgb(242, 212, 245);
}

.publicacion {
    border-radius: 20%;
    display: flex;
    flex-direction: column;
    gap: 16px;

}


#usuario1 {
    border: 2px solid rgb(204, 0, 255);
    background-color: rgb(254, 210, 255);
}

#usuario2 {
    border: 2px solid rgb(0, 255, 234);
    background-color: rgb(148, 148, 250);
}

#usuario3 {
    border: 2px solid rgb(72, 255, 0);
    background-color: rgb(180, 255, 170);
}

#usuario1:hover {
    background-color: rgb(166, 81, 245);
}

#usuario2:hover {
    background-color: rgb(142, 236, 215);
}

#usuario3:hover {
    background-color: rgb(225, 252, 156);
}

.publicacion button {
    background-color: rgb(251, 155, 213); color: white; border-radius: 5px;
}

.publicacion button:hover {
    background-color: rgb(255, 0, 234);
    transform: scale(1. 1);
    transition: 0.2s;
}

.otros_usuarios {
    display: flex;
    justify-content: space-between;
}