* {
    color: rgb(221, 184, 255);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
}
/* REVISAR */
header{
    display: flex;
    justify-content:space-between;
    background-color: rgb(141, 58, 158);
    text-decoration: none;
}

header > h1{
    font-size: 75px;
    font-weight: bold;
}

.navegacion {
    list-style: none;
    text-decoration: none;
}
.navegacion a:hover {
    color: rgb(255, 0, 255);
    font-weight: bold;
}
.navegacion a {
    text-decoration: none;
}
.perfil {
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 20px;
}
.perfil img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: space-between;
}
.perfil p {
    background-color: rgb(242, 212, 245);
}

.publicacion {
    padding: 10px;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
    gap: 16px;

}


#usuario1 {
    flex: 1, 1, 200px;
    border: 2px solid rgb(204, 0, 255);
    background-color: rgb(254, 210, 255);
}

#usuario2 {
    flex: 1, 1, 200px;
    border: 2px solid rgb(0, 255, 234);
    background-color: rgb(148, 148, 250);
}

#usuario3 {
    flex: 1, 1, 200px;
    border: 2px solid rgb(72, 255, 0);
    background-color: rgb(180, 255, 170);
}

#usuario1:hover {
    background-color: rgb(166, 81, 245);
}

#usuario2:hover {
    background-color: rgb(142, 236, 215);
}

#usuario3:hover {
    background-color: rgb(225, 252, 156);
}

.publicacion button {
    background-color: rgb(251, 155, 213); color: white; border-radius: 5px;
}

.publicacion button:hover {
    background-color: rgb(255, 0, 234);
    transform: scale(1. 1);
    transition: 0.2s;
}

.otros_usuarios {
    display: flex;
    justify-content: space-between;
        padding: 10px;
    margin: 10px;
}

#usuario4 {

    border: 5px solid #f707ff;
    background-color: rgb(255, 166, 166);
}

#usuario5 {
    border: 5px solid #ff0000;
    background-color: rgb(224, 111, 111);
}

#usuario4 > img:hover {
    transform: scale(1.1);
    filter: brightness(0.5) sepia(1) hue-rotate(180deg);
}

#usuario5 > img:hover {
    transform: scale(1.1);
    filter: brightness(0.5) sepia(1) hue-rotate(180deg);
}