@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 5px;
    margin: 5px;
    width: auto;
    background-color: antiquewhite;
}
h1, h2, h3 {
font-family: "Roboto Condensed", sans-serif;
}

p, a {
font-family: "Roboto Condensed", sans-serif;
font-optical-sizing: auto;

}


.site-header{
    display: flex;
    justify-content:space-between;
    background-color: rgb(139, 117, 94);
    overflow: hidden;
    flex-grow: 1 1 auto;
    border: 3px solid #333;
}

.site-header > h1{
    font-weight: bold;
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.site-nav li{
    list-style: none;
    display: inline;
}

.site-nav a {
    text-decoration: none;
    color: rgb(123, 122, 89);
}

.site-nav a:hover {
    font-weight: bold;
    color: rgb(212, 199, 103);
    font-weight: bold;
}

.hero {
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image:url("https://www.shutterstock.com/image-vector/pirate-piracy-skull-crossed-swords-600nw-2633847721.jpg");
    background-size:contain; 
}

.hero h2 {
    font-size: 20px;
    font-weight: bolder;
    background-color: transparent;
    color: rgb(188, 127, 36);
}

.hero p {
background-color: transparent;
}
